
{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block content %}
    <div class="index-page">
        <div class="index-container">
            <h2>Inicia Sesión o Regístrate</h2>
            
            
            <p>Por favor, <a href="{{ url_for('login') }}">inicia sesión</a> para continuar.</p>
            
            <!-- Enlace a la página de registro -->
            <div class="registration-link">
                <p>¿No tienes una cuenta? <a href="{{ url_for('registration_jugador') }}">Regístrate aquí</a></p>
            </div>
            <div class="registration-link">
              <p>¿No tienes una peña? <a href="{{ url_for('registration_pena') }}">Regístrala aquí</a></p>
          </div>
            
        </div>
    </div>
{% endblock %}