<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Aplicación{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
               
            </ul>
        </nav>
    </header>

    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mi Aplicación. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
