{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-page">
        <div class="login-container">
            <h2>Login</h2>
            
            <!-- Formulario de login -->
            <form method="POST" action="{{ url_for('login') }}">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Iniciar sesión</button>
            </form>

            <!-- Mensaje de error si las credenciales no son válidas -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="error">
                  {{ messages[0] }}
                </div>
              {% endif %}
            {% endwith %}
        </div>
    </div>
{% endblock %}