{% extends 'base.html' %}

{% block title %}Registro{% endblock %}

{% block content %}
    <div class="registration-page">
        <div class="registration-container">
            <h2>Registro</h2>
            
            <!-- Formulario de registro -->
            <form method="POST" action="{{ url_for('registration') }}">
                <label for="username">Usuario:</label>
                <input type="text" id="username" name="username" required>
                
                <label for="password">Contraseña:</label>
                <input type="password" id="password" name="password" required>

                <label for="confirm_password">Confirma Contraseña:</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
                
                <button type="submit">Registrarse</button>
            </form>

            <!-- Mensaje de error si hay algún problema durante el registro -->
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                <div class="error">
                  {{ messages[0] }}
                </div>
              {% endif %}
            {% endwith %}

            <!-- Enlace a la página de inicio de sesión -->
            <div class="login-link">
                <p>¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia sesión aquí</a></p>
            </div>
        </div>
    </div>
{% endblock %}
